<div class="options-container">
    <div class="option" (click)="onHotelClick()">
        <img src="../../../assets/hotellogo.png" alt="Hotels" class="option-icon" />
        <p>Hotels</p>
    </div>
    <div class="line"></div>
    <div class="option" (click)="onFlightClick()">
        <img src="../../../assets/flightlogo.png" alt="Flights" class="option-icon" />
        <p>Flights</p>
    </div>
    <div class="line"></div>
    <div class="option" (click)="onBusClick()">
        <img src="../../../assets/buslogo.png" alt="Bus" class="option-icon" />
        <p>Bus</p>
    </div>
    <div class="line"></div>
    <div class="option" (click)="onHolidayPackageClick()">
        <img src="../../../assets/holidaylogo.png" alt="Holiday Package" class="option-icon" />
        <p>Holiday Package</p>
    </div>
</div>
